.breadcrumb {
    margin-bottom: 20px;
    font-size: 14px;
    color: #000000;
}

.breadcrumb a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}